{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "rules": {
    "react/prop-types": "warn",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
